{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center lead font-weight-bold">{{title}}</h1>
                </div>
                <div class="card-body">
                    <form action="{% url 'accounts:change_password' %}" method="POST" novalidate>
                        {% csrf_token %}
                        {{chanage_password_form|crispy}}


                        <input type="submit" value="Chnage Password" class="btn btn-info btn-sm">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
