{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header bg-danger text-white font-weight-bold">
                    <h1 class="text-center lead font-weight-bold">{{title}}</h1>
                </div>
                <div class="card-body">
                     <table class="table table-inverse table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Booking Number</th>
                                    <th>Name</th>
                                    <th>Mobile Number</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in booking_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{booking.booking_number}}</td>
                                    <td>{{booking.connection.name}}</td>
                                    <td>{{booking.connection.mobile}}</td>
                                    <td>{{booking.connection.email}}</td>
                                    <td>
                                        {% if booking.status %}
                                            {{booking.get_status_display}}
                                        {% else %}
                                            Pending
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'gas:booking_detail' booking.id %}" class="btn btn-danger btn-block">View</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7">No Data Available</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
