{% extends "landing_base.html" %}

{% load static %}

{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                    <div class="p-5">
                         <div class="card">
                            <div class="card-header text-center p-4 bg-primary">
                                <h4 class="text-white mb-0 mt-0">Reset Password</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                You should receive them shortly.
                                </p>
                                <p>
                                    If you don't receive an email, please make sure you've entered the address you registered with,
                                    and check your spam folder.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}







