{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <div class="row">
        <div class="col md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center lead font-weight-bold">{{title}}</h1>
                </div>
                <div class="card-body">
                    <table class="table table-inverse">
                        <thead>
                            <tr>
                                <th>Connection Number</th>
                                <th>Name</th>
                                <th>Mobiel Number</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for connection in connection_list %}
                                <tr>
                                    <td>{{connection.connection_number}}</td>
                                    <td>{{connection.name}}</td>
                                    <td>{{connection.mobile}}</td>
                                    <td>{{connection.email}}</td>
                                    <td>{{connection.address}}</td>
                                    <td>
                                        <a href="{% url 'gas:view_connection' connection.id %}" class="btn btn-primary btn-block">Book</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
