{% extends "landing_base.html" %}

{% load static %}

{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="card mt-4">
                            <div class="card-body">
                                <p>
                                    You Have Successfully Loggedout.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div

{% endblock content %}







