{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
             <div class="card">
                 <div class="card-header">
                     <h5 class="lead text-center font-weight-bold text-dark">{{title}}</h5>
                 </div>
                 <div class="card-body">
                    <form method="post">{% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        <input type="submit" value="Confirm" class="btn btn-danger">
                    </form>
                 </div>
             </div>
        </div>
    </div>
{% endblock content %}
